.legend_box
{
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid #000;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
}

.legend_box.short_range
{
  background: #1f77b4;
}

.legend_box.mid_range
{
  background: #ff7f0e;
}

.legend_box.long_range
{
  background: #d62728;
}

.legend_box.vehicle
{
  background: #6b486b;
}

.legend_text
{
    position: absolute;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 1.3em;
    margin-top: 5px;
    margin-left: 3px;
}

.col4
{
	display:inline-block;
	width:24%;
}

#bubble_chart_legend
{
    padding-top: 5px;
    height: 32px;
}

#dialog-link
{
	text-decoration:none;
	position:relative;
	padding:.4em 1em .4em 20px;
}

#dialog-link span.ui-icon
{
	position:absolute;
	left:.2em;
	top:50%;
	margin:-8px 5px 0 0;
}

#info_button
{
	display:inline-block;
	cursor:pointer;
}

#intro_continue,.style_button_label
{
	width:100%;
}

#intro_dialog
{
	background:none;
	border:0;
}

#intro_dialog_containter
{
	position:fixed;
	top:20%;
	left:55%;
	right:5%;
	padding:10px;
}

#left_bottom
{
	position:absolute;
	width:50%;
	bottom:0;
	left:0;
}

#left_div
{
	float:left;
	height:100%;
	color:#fff;
	width:50%;
	margin:auto;
}

#multi_select_controls
{
	position: absolute;
    display:inline-block;
    margin-top: 8px;
    margin-left: 5px;
}

#percent_selected,.titlebar_option
{
	display:inline-block;
    font-size: medium;
}

#player_name
{
    text-align:center;
}

#right_bottom
{
	position:absolute;
	width:50%;
	bottom:0;
	right:0;
    background-color: #222;
}

#right_div
{
	float:left;
	height:100%;
	width:50%;
	background-color:#555;
	color:#fff;
	margin-bottom:0;
}

#restart_tour_button
{
    display:inline-block;
	margin-bottom:8px;
}

#style_buttons
{
	width:100%;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	margin:auto;
    background-color: #555;
}

#title
{
	margin-top:10px;
	margin-bottom:5px;
	margin-left:15px;
	display:inline-block;
}

#titlebar
{
	float:left;
	width:100%;
	color:#fff;
	background-color:#111;
	text-align:left;
	margin:auto;
}

#titlebar_right
{
	float:right;
	display:inline-block;
	vertical-align:middle;
	font-family:caecilia-bold,helvetica,arial,sans-serif;
	font-size:14px;
	font-weight:400;
}

body
{
	height:100%;
	font:62.5% "Trebuchet MS", sans-serif;
	margin:0;
	padding:0;
}

h1
{
	font-family:helvetica,arial,sans-serif;
}

